/.vscode
/venv
*.docx
*.xlsx
_trashcan
.devcontainer
/lab_1/__pycache__
/lab_1/documentation/lab_1.rar
/lab_2/__pycache__
/lab_2/_trial
/lab_3/__pycache__
/lab_3/_trial
/lab_4/__pycache__
/lab_4/_trial
